
<ion-view view-title="{{app.quadro.break_panel.name}}" >
  <ion-content  class="backgound-content"  >

    <div class="rowsqm">

      <!--modelo do bloco-->
      <div class="col circuitobox" ng-repeat="circuito in app.circuitos ">
        <div class="row ">
          <div class="col col-80 circuito-title reduz" ng-click="openDetailsCircuits(circuito.break_panel_id,circuito.id)">
            {{circuito.name}}
          </div>
          <div class="col ">
            <label class="toggle toggle-small" >
             <input type="checkbox" ng-model="circuito.relay_state" ng-change="setState(circuito.break_panel_id,circuito.id,circuito.relay_state)">
             <div class="track">
               <div class="handle">

               </div>
             </div>
           </label>

         </div>
       </div>
       <hr class="horizontal-line" size="1" >
       <div class="grafico-circuito" ng-click="openDetailsCircuits(circuito.break_panel_id,circuito.id)">
         <div >
          <div class="left-box" >
            R$
          </div>
          <div class="center-box">
            {{circuito.reais}}
          </div>
          <div class="right-box">
            ,{{circuito.centavos}}
          </div>

        </div>
        <div class="progressBar">
          <div class="sup" ng-style="{width: {{circuito.percent <= 100? circuito.percent : 100}} + '%'}"> </div>
          <div class="text-bar">{{circuito.percent}}%</div>
        </div>

        <span class="icon-circuitos icone-circuito "></span >
          <span class="pot-circuito"> {{circuito.total_energy.toFixed(2)}} KWh</span>

        </div>

      </div>



    </div><!-- fim da row-->




  </ion-content>

</ion-view>
