<ion-view view-title="{{app.quadro_detalhes.nome}}">
    <ion-content class="backgound-content" >

        <div class="carrosel"  >
            <carousel3d
            ng-model="app.slides"
            options="app.options" on-slide-change="changeSlide(index)" on-selected-click="changeQuadro(index)">
            <carousel3d-slide class="carrosel-slide" ng-repeat="slide in app.slides track by slide.id" >
                <div class="text-inside-card">

                    <h2>{{slide.name}}</h2>
                    <p>Meta: {{slide.goal.toFixed(2)}} KWh</p>
                    <p>Consumo: {{slide.total_energy.toFixed(2)}} KWh</p>

                </div>

            </carousel3d-slide>



        </carousel3d>
    </div>

    <div class="carrosel-text-bottom">
        <p>{{app.description}}</p>



    </div>


</ion-content>
</ion-view>
