

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path     : "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

/* CSS i*/
.ritmos-form {
display                 : block;
max-width               : 300px;
min-width               : 300px;
border                  : -2px;
text-align              : center;
margin-top              : 5px;
margin-left             : auto;
margin-right            : auto;
}

.reduz{
white-space             : nowrap;
overflow                : hidden;
text-overflow           : ellipsis;
}

.logo-image{
width                   : 70%;
height                  : auto;
}

.borda{
border                  : solid gray 1px;
margin-bottom           : 6px;
color                   : gray;
}

.center{
text-align              : center;
}


.image-footer{
border                  : solid 0.2px gray;
width                   : 100px;
height                  : 100px;
margin-top              : -60px;
border-radius           : 50px;
background              : #886aea;

}

.image-menu{
border                  : solid 0.2px gray;
width                   : 90px;
height                  : 90px;
margin-top              : 30px;
border-radius           : 45px;

}

.white{
color                   : white!important;
}

.trans{
background-color        : transparent;
}


.menu{
background              : url("../img/bgmenu.png");
background-repeat       : no-repeat;
-moz-background-size    : 100% 100%;
-webkit-background-size : 100% 100%;
background-size         : 100% 100%;

}

.backgound-content{
background              : #dedede;

}

/*Classe do carrosel*/
.carrosel{
margin-top              : 15%;
margin-bottom           : auto;
margin-left             : 30px;
margin-right            : 30px;
}


.carrosel-slide{
width                   : 100%;
height                  : 100%;
background              : url("../img/quadro.png");
background-color        : #886aea;
background-repeat       : no-repeat;
-moz-background-size    : 100% 100%;
-webkit-background-size : 100% 100%;
background-size         : 100% 100%;
text-align              : center;

}

.carrosel-slide h2{
color                   : white;
font-size               : 22px;
}

.carrosel-slide p{
color                   : #D8D8D8;
font-size               : 15px;
}

.carrosel-text-bottom{
width                   : 200px;
height                  : 250px;
margin-left             : auto;
margin-right            : auto;
color                   : gray;
}

.text-inside-card{
margin-top              : 45%;
}

/*CSS da tela de circuitos (circuitos.html)*/
.rowsqm {

padding                 : 3px;
width                   : 100%; }


  .circuitobox{
margin                  : 1.5px 1.5px 1.5px 0.5px;
text-align              : center;
background              : white;
border-radius           : 5px;
color                   : #595959;
font-size               : 15px;
border                  : solid 1px #d1d1d1;
float                   : left !important;
padding                 : 5px;
max-width               : 49%;
 }

 .graficobox{
text-align              : center;
background              : #fff;
border-radius           : 5px;
color                   : #d1d1d1;
border                  : solid 1px #d1d1d1;
max-width               : 99%;
 }

 .grafico-circuito{
margin-left             : 5px;
margin-right            : 5px;

 }

 .horizontal-line{
margin-top              : -5px;
margin-left             : -5px;
margin-right            : -5px;
color                   : #d1d1d1;
}

.circuito-title{
font-weight             : bold;
font-size               : 16px;
text-align              : left;
}


.left-box{
display                 : inline-block;

}
.center-box{
margin-top              : 5px;
margin-bottom           : 15px;
font-size               : 35px;
display                 : inline-block;

}
.right-box{
display                 : inline-block;
}


.progressBar {
width                   : 100%;
height                  : 30px;
margin-top              : 4px;
border                  : 1px solid #d1d1d1;
background-color        : #d1d1d1;
border-radius           : 5px;
}
.sup {
height                  : 100%;
color                   : #fff;
text-align              : float left;
font-size               : 20px;
line-height             : 20px;
border-radius           : 2px;
width                   : 10%;
background-color        : #886aea;
}

.text-bar{
width                   : 70%;
margin-top              : -23px;
position                : inherit;
margin-left             : 9px;
color                   : white;
text-align              : left;
font-size               : 24px;
z-index                 : 530;

}

.text-bar-r{
float                   : right;
margin-top              : -20px;
position                : inherit;
margin-right            : 9px;
color                   : white;
text-align              : left;
font-size               : 24px;
z-index                 : 530;

}

.no-border{
border                  : none !important;
}

.top-20{
margin-top              : 20px;
}

.item-radio .item-content{
padding-left            : 64px !important;
padding-right           : 16px !important;
}

.item-radio .radio-icon{
left                    : 0 !important;
}

//ícone grande das telas de adicionar algo novo
.icone-add{
font-size               : 105px;
}

.icone-circuito{
font-size               : 28px;
}

.pot-circuito{
font-size               : 18px;
}

.icone-circuito-title{
font-size               : 40px;
}

.circuitodetailsbox{
width                   : 80%;
margin-left             : 10%;
text-align              : center;
background              : white;
//border-radius         : 5px;
color                   : #d1d1d1;
font-size               : 130;

}

.esquerda-details{

}
.meio-details{
font-size               : 35px;
margin-top              : -5px;
margin-left             : -50%;
}

.direita-details{
margin-left             : -50%;
}

.circle-icon{
top                     : 15px !important;
}

.circle-text{
top                     : 15px;
}

.circle-size{
font-size               : 70px;
}

.centraliza{
display                 : -webkit-flex;
display                 : flex;
-webkit-align-items     : center;
align-items             : center;
-webkit-justify-content : center;
justify-content         : center;

}

.circuito-text-area{
width                   : 100%;
height                  : 150px;
border                  : 1px solid #d1d1d1;
background-color        : #dedede;
}

.ion-input-select--large,
.ion-input-select,
select {
-webkit-appearance      : none;
background-repeat       : no-repeat;
border                  : thin solid #dddddd;
font-weight             : 300;
display                 : inline;
vertical-align          : middle;
color                   : #333;
padding                 : auto 0;
overflow                : hidden;
box-sizing              : border-box;
background-color        : #dedede;
}

.ion-input-select--large {
width                   : 50%;
font-size               : 1.2rem;
text-indent             : 10px;
padding                 : 0.5rem 0;
}

.ion-input-select--medium {
width                   : 40%;
font-size               : 1.2rem;
text-indent             : 10px;
padding                 : 0.5rem 0;
}



.bottom-button{
margin-top              : 6px;
float                   : right;
border                  : solid 1px #dedede !important;
min-width               : 100px;
}


/*CSS DA ÁREA DE CONTROLE */
.controlebox{
margin                  : 1.5px 1.5px 1.5px 0.5px;
text-align              : center;
background              : white;
border-radius           : 5px;
color                   : #595959;
font-size               : 130;
border                  : solid 1px #d1d1d1;
float                   : left !important;
padding                 : 5px;
max-width               : 99%;
}

.buttom-controlebox{
color                   : #d1d1d1 ;
}

//NOTE: verificar aqui se ficou tudo bem

.buttom-controlebox-bottom{
color                   : #d1d1d1 ;
float                   : right;
}


/*CSS área de quadros*/
.value-title{
font-size               : 50px;
margin-top              : 17px;
margin-bottom           : 17px;

}

.bar-list{

margin-top              : 7px !important;
}

.item-list-percent{
margin-top              : 4px;

}


/*LOADING*/
.loading{
background-color        : rgba(20, 50, 50,1) !important;
width                   : 100%;
height                  : 100%;
}

.spinner {
position                : relative;
width                   : 80px;
height                  : 80px;
background              : url(../img/icon.png);
background-size         : cover;
background-repeat       : no-repeat;
margin                  : 75% auto ;
  @include animation(sk-rotateplane 1.2s infinite ease-in-out);
}

@-webkit-keyframes sk-rotateplane {
  0% {
transform               : perspective(120px) rotateX(0deg) rotateY(0deg);
-webkit-transform       : perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
transform               : perspective(120px) rotateX(0deg) rotateY(180deg);
-webkit-transform       : perspective(120px) rotateX(0deg) rotateY(180deg)
      } 100% {
transform               : perspective(120px) rotateX(0deg) rotateY(360deg);
-webkit-transform       : perspective(120px) rotateX(0deg) rotateY(360deg);
      }
    }

    @keyframes sk-rotateplane {
      0% {
transform               : perspective(120px) rotateX(0deg) rotateY(0deg);
-webkit-transform       : perspective(120px) rotateX(0deg) rotateY(0deg)
        } 50% {
transform               : perspective(120px) rotateX(0deg) rotateY(180deg);
-webkit-transform       : perspective(120px) rotateX(0deg) rotateY(180deg)
          } 100% {
transform               : perspective(120px) rotateX(0deg) rotateY(360deg);
-webkit-transform       : perspective(120px) rotateX(0deg) rotateY(360deg);
          }
        }


