<ion-modal-view>
  <ion-header-bar >
    <span  class="icon ion-gear-a icone-circuito-title" ></span >
      <h1 class="title">Configurações</h1>
      <button class="button button-clear button-primary" ng-click="configModal.hide()">X</button>
    </ion-header-bar>

    <ion-content>

      <div class="list">
        <div class="item item-icon-left item-toggle ">
          <i class="icon ion-ios-bell assertive"></i>
          Notificações
          <label class="toggle toggle-assertive ">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
       </div>

        <div class="item item-icon-left" ng-click="logout()">
         <i class="icon ion-android-person calm"></i>
         Logout
       </div>

       <div class="item item-icon-left">
         <i class="icon ion-ios-bell balanced"></i>
         Versão
       </div>



     </div>



   </ion-content>

 </ion-modal-view>