<ion-modal-view>
  <ion-header-bar >
    <h1 class="title">Configurar Controle</h1>
    <button class="button button-clear button-primary" ng-click="controleEditModal.hide()">X</button>
  </ion-header-bar>

  <ion-content class="padding  ">


    <div class="list top-20">
      <label class="item item-input">
        <input type="text" placeholder="Valor Máximo">
      </label>
    </div>

    <div class="row">
      <div class="col col-30">
        <ion-list>
          <ion-radio ng-model="choice" ng-value="'A'"  class="no-border">Sempre</ion-radio>
          <ion-radio ng-model="choice" ng-value="'B'"  class="no-border">Até</ion-radio>
        </ion-list>
      </div>
      <div class="col ">
        <ion-list >
          <ion-item class="no-border">

          </ion-item>
          <ion-item class="no-border top-20">

            <select class="ion-input-select">
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>

            <select class="ion-input-select">
              <option>2016</option>
              <option>2017</option>
              <option>2018</option>
            </select>

          </ion-item>

        </ion-list>




      </div>

    </div>

    <button class="button button-stable bottom-button">
      OK
    </button>


  </ion-content>

</ion-modal-view>