<ion-modal-view>
  <ion-header-bar >
    <h1 class="title">{{app.quadro_detalhes.nome}}</h1>
    <button class="button button-clear button-primary" ng-click="quadrosModal.hide()">X</button>
  </ion-header-bar>

  <ion-content class="padding  ">
    <div class="col circuitodetailsbox">
            <div class="value-title">
              <p>{{app.quadro_detalhes.percentual}}%</p>
            </div>
            <div class="progressBar">
              <div class="sup" style="width: {{app.quadro_detalhes.percentual}}%"> </div>
            </div>
            <p class="pot-circuito">de R${{app.quadro_detalhes.alvo}}</p>
  </div>

  <!--Div do gráfico-->
  <div class="graficobox">
      <div ng-if="app.mostra_grafico_quadro === true">
              <h4>Consumo Acumulado</h4>
             <canvas id="bar" class="chart chart-bar"
             chart-data="[app.quadro_detalhes.measures_b_tuple[1],app.quadro_detalhes.previsions_b_tuple[1],app.quadro_detalhes.goal_b_tuple[1]]" chart-labels="app.quadro_detalhes.measures_b_tuple[0]" chart-dataset-override="datasetOverride" chart-series="app.quadro_detalhes.series">
              </canvas>
      </div>
      <div ng-if="app.mostra_grafico_quadro === false">
           <h4>Consumo Diário</h4>
           <canvas id="bar" class="chart chart-bar"
           chart-data="[app.quadro_detalhes.measures_b_tuple_diff[1]]" chart-labels="app.quadro_detalhes.measures_b_tuple_diff[0]" chart-series="app.quadro_detalhes.series">
            </canvas>
      </div>
      <div class="button-bar">
        <a class="button button-outline button-stable"  ng-click="graficoQuadro(true)">Acumulado</a>
        <a class="button button-outline button-stable"  ng-click="graficoQuadro(false)">Diário</a>
      </div>
  </div>

<!--Quadros de Fatura-->

<div class="bar-list">
  <div class="row">

    <!--modelo do bloco-->
    <div class="col circuitobox">
     <p>Vencimento: {{app.quadro_detalhes.due}}/{{app.quadro_detalhes.mes}}</p>


    <p>Ciclo tarifário </p>
    {{app.quadro_detalhes.first_day_of_period}}/{{app.quadro_detalhes.mes}} - {{app.quadro_detalhes.ultimo_dia}}/{{app.quadro_detalhes.proximo_mes}}
    </div>
    <div class="col circuitobox">

      <p>Bandeira: {{app.quadro_detalhes.bandeira}}</p>
      <p>{{app.quadro_detalhes.taxa}} R$/kWh</p>

    </div>

  </div>


</div>




<!--Parte da lista de barras-->
<div class="bar-list">
  <div class="progressBar "  ng-repeat="circuito in app.quadro_detalhes.circuitos  ">
    <div class="sup" ng-style="{width: {{circuito.percent}} + '%'}"> </div>
    <div class="text-bar reduz" ng-click="openDetailsCircuits(circuito.panel_id,circuito.id)">{{circuito.name}}</div>
    <div class="text-bar-r" >R${{circuito.valor }}</div>
  </div>

</div>


</ion-content>

</ion-modal-view>